prefix = "analytics"
location = "eastus"
resource_group_name = "analytics-rg"
acr_name = "analytics-staging-acr-2025-09-02"
proxy_app_name = "analytics-proxy"
backend_app_name = "analytics-backend"
basic_auth_user = "staging_user"
basic_auth_pass = "changeme"
admin_email = "you@example.com"

